/* ── Sway Notification ───────────────────────
   °˖* ૮(  • ᴗ ｡)っ🍸  
─────────────────────────────────────────────── */

* {
  font-family: "JetBrainsMono Nerd Font", "Cascadia Code", "FiraCode Nerd Font Propo", monospace;
  font-size: 14px;
  font-weight: bold;
}

.control-center {
  background-color: #292d35;
  border: 3px solid #56b6c2;
  border-radius: 6px;
  color: #9cdef2;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
  color: #56b6c2;
}

.notification {
  background-color: #2e3440;
  border: 2px solid #61afef;
  border-radius: 4px;
  margin: 4px 8px;
  padding: 0;
}

.notification-content {
  background-color: transparent;
  padding: 8px;
}

.summary {
  font-size: 15px;
  color: #56b6c2;
}

.time {
  font-size: 12px;
  color: #4c566a;
  margin-right: 24px;
}

.body {
  font-size: 14px;
  font-weight: normal;
  color: #9cdef2;
  margin-top: 4px;
}

.control-center .notification-row .notification-background {
  background: transparent;
}

.control-center .notification-row .notification-background .notification {
  background-color: #2e3440;
  border: 2px solid #61afef;
  border-radius: 4px;
  margin: 4px 8px;
}

.control-center .notification-row .notification-background .close-button {
  background-color: transparent;
  color: #e06c75;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #e06c75;
  color: #2e3440;
}

.close-button {
  background-color: transparent;
  color: #e06c75;
  text-shadow: none;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 8px;
}

.close-button:hover {
  background-color: #e06c75;
  color: #2e3440;
}

.notification-action {
  border: 1px solid #3b4252;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: #2e3440;
  color: #56b6c2;
}

.notification-action:hover {
  background-color: #61afef;
  color: #2e3440;
}

.widget-title {
  color: #fab387;
  margin: 12px;
  font-size: 16px;
}

.widget-title > button {
  font-size: 13px;
  color: #56b6c2;
  text-shadow: none;
  background: #2e3440;
  border: 1px solid #3b4252;
  box-shadow: none;
  border-radius: 4px;
  padding: 4px 8px;
}

.widget-title > button:hover {
  background: #61afef;
  color: #2e3440;
  border-color: #61afef;
}

.widget-dnd {
  margin: 12px;
  color: #9cdef2;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 4px;
  background: #3b4252;
  border: 1px solid #3b4252;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: #56b6c2;
}

.widget-dnd > switch slider {
  background: #9cdef2;
  border-radius: 4px;
}