* {
    c-text: #c0caf5;
    c-widget-bg: #24283b;
    c-widget-bg-transparent: rgba(36, 40, 59, 0.85);
    c-accent: #7aa2f7;
    c-accent-alt: #bb9af7;
    c-dim: #3b4261;
    c-urgent: #f7768e;
    c-dim-text: #565f89;
    c-accent2: #e0af68;
}
/* ── Rofi Theme ──────────────────────────────
   °˖* ૮(  • ᴗ ｡)っ🍸
   ─────────────────────────────────────────── */

* {
  font: "JetBrainsMono Nerd Font 11";
  blur: true;
  padding: 10px;
  background-color: transparent;
  border-radius: 0px;
}

window {
  width: 450px;
  height: 350px;
  location: center;
  blur: true;
  border: 2px;
  border-radius: 3px;
  border-color: @c-accent;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* ── Layout ──────────────────────────────── */
mainbox {
  orientation: horizontal;
  children: [ "borderbox" ];
  spacing: 0px;
  padding: 0px;
}

borderbox {
  orientation: horizontal;
  children: [ "contentbox" ];
  padding: 0px;
  spacing: 0px;
  border-radius: 3px;
}

contentbox {
  orientation: vertical;
  children: [ "entry", "listview" ];
  spacing: 0px;
  padding: 0px;
  expand: true;
}

/* ── Imagebox ────────────────────────────── */
imagebox {
  background-image: url("~/.config/rofi/image.png", both);
  size: 300px 625px;
  padding: 0px;
}

element {
  border-radius: 0px;
}

element-text, element-icon {
  padding: 6px 8px;
  spacing: 2px;
  text-color: @c-accent2;
}

element selected {
  background-color: @c-widget-bg;
  text-color: @c-accent-alt;
  border-radius: 3px;
}

prompt {
  enabled: false;
  background-color: transparent;
  text-color: @c-accent;
  padding: 5px 10px;
}

entry {
  padding: 8px;
  expand: false;
  font: "JetBrainsMono Nerd Font 12";
  text-color: @c-accent2;
  border-radius: 0px 3px 0px 0px;
  background-color: @c-widget-bg;
}

listview {
  lines: 1;
  background-color: @c-widget-bg-transparent;
  border-radius: 0px 0px 3px 0px;
  padding: 5px;
}
