/* ── Sway Notification ───────────────────────
   °˖* ૮(  • ᴗ ｡)っ🍸
─────────────────────────────────────────────── */

* {
  font-family: "JetBrainsMono Nerd Font", "Cascadia Code", "FiraCode Nerd Font Propo", monospace;
  font-size: 14px;
  font-weight: bold;
}

.control-center {
  background-color: @c-widget-bg;
  border-style: solid;
  border-width: 3px;
  border-color: @c-accent;
  border-radius: 6px;
  color: @c-text;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
  color: @c-accent;
}

.notification {
  background-color: @c-widget-bg;
  border-style: solid;
  border-width: 2px;
  border-color: @c-accent-alt;
  border-radius: 4px;
  margin: 4px 8px;
  padding: 0;
}

.notification-content {
  background-color: transparent;
  padding: 8px;
}

.summary {
  font-size: 15px;
  color: @c-accent;
}

.time {
  font-size: 12px;
  color: @c-dim-text;
  margin-right: 24px;
}

.body {
  font-size: 14px;
  font-weight: normal;
  color: @c-text;
  margin-top: 4px;
}

.control-center .notification-row .notification-background {
  background: transparent;
}

.control-center .notification-row .notification-background .notification {
  background-color: @c-widget-bg;
  border-style: solid;
  border-width: 2px;
  border-color: @c-accent-alt;
  border-radius: 4px;
  margin: 4px 8px;
}

.control-center .notification-row .notification-background .close-button {
  background-color: transparent;
  color: @c-urgent;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @c-urgent;
  color: @c-widget-bg;
}

.close-button {
  background-color: transparent;
  color: @c-urgent;
  text-shadow: none;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
  margin-right: 8px;
}

.close-button:hover {
  background-color: @c-urgent;
  color: @c-widget-bg;
}

.notification-action {
  border-style: solid;
  border-width: 1px;
  border-color: @c-dim;
  border-top: none;
  border-radius: 0 0 4px 4px;
  background-color: @c-widget-bg;
  color: @c-accent;
}

.notification-action:hover {
  background-color: @c-accent-alt;
  color: @c-widget-bg;
}

.widget-title {
  color: @c-accent2;
  margin: 12px;
  font-size: 16px;
}

.widget-title > button {
  font-size: 13px;
  color: @c-accent;
  text-shadow: none;
  background: @c-widget-bg;
  border-style: solid;
  border-width: 1px;
  border-color: @c-dim;
  box-shadow: none;
  border-radius: 4px;
  padding: 4px 8px;
}

.widget-title > button:hover {
  background: @c-accent-alt;
  color: @c-widget-bg;
  border-color: @c-accent-alt;
}

.widget-dnd {
  margin: 12px;
  color: @c-text;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 4px;
  background: @c-dim;
  border-style: solid;
  border-width: 1px;
  border-color: @c-dim;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @c-accent;
}

.widget-dnd > switch slider {
  background: @c-text;
  border-radius: 4px;
}
