* {
    c-text: #d3c6aa;
    c-widget-bg: #2d353b;
    c-widget-bg-transparent: rgba(45, 53, 59, 0.85);
    c-accent: #a7c080;
    c-accent-alt: #7fbbb3;
    c-dim: #475258;
    c-urgent: #e67e80;
    c-dim-text: #56635f;
    c-accent2: #e69875;
}